footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #231F20;
}

.footerInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 0;
    color: aliceblue;
    width: 1050px;
}

.footerInfo h5 {
    color: #27aae1;
}

.social {
    display: flex;
    width: 100%;
    margin: 30px 0;
    justify-content: space-evenly;
}

.socialLinks img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(240, 255, 255, 0.5);
    padding: 3px;
}

.footerCopyright {
    display: flex;
    width: 100%;
    padding: 30px 50px;
    color: azure;
}

.footerLinks {
    list-style-type: disclosure-closed;
    color: #27aae1;
    margin-top: 10px;
}

.footerLink {
    text-decoration: none;
    color: whitesmoke;
    line-height: 1.35em;
    font-size: 13px;
}

.footerLink:hover {
    text-decoration: underline;
}

.contacts li {
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #f1f2f2;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    color: whitesmoke;
}