.dialogStyle {
    grid-area: content;
    margin-right: 50px;
<<<<<<< Updated upstream
    background-color: darkgray;
=======
    display: flex;
}

.DialogsListStyle, .ChatStyle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px;
    max-width: 50%;
    border-left: 1px solid lightskyblue;
}

.ChatStyle {
    display: flex;
    padding: 25px 15px 15px;
    border-right: 1px solid lightskyblue;
    background-color: rgba(231, 231, 231, 0.5);
}

.DialogsListItemStyle {
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightskyblue;
    cursor: pointer;
    padding: 7px;
}

.DialogsListItemStyle:hover {
    border-bottom: 1px solid lightslategray;
    background-color: rgba(44, 135, 219, 0.06);
}

.DialogData {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 7px;
    justify-content: space-around;
}

.DialogDataHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.DialogDataHeader h5 {
    color: #27aae1;
    font-size: 1em;
}

.DialogDataText p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DialogDataHeader span {
    font-size: .7em;
    color: brown;
    border: 1px solid brown;
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.IncomingStyle, .SendingStyle {
    display: flex;
    align-self: flex-start;
    margin-top: 3px;
}

.IncomingStyleText {
    padding: 7px;
    background-color: bisque;
    border-radius: 0 7px 7px 7px;
    font-size: .8em;
    margin: 0 87px 0 7px;
}

.SendingStyleText {
    padding: 7px;
    background-color: honeydew;
    border-radius: 7px 0 7px 7px;
    font-size: .8em;
    margin: 0 7px 0 87px;
}

.SendingStyle {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.MessagesBox {
    height: 350px;
    overflow-y: scroll;
}

.SendForm {
    display: flex;
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 4px;
    justify-content: center;
    margin-top: 10px;
}

.SendForm input {
    padding: 7px;
    width: 100%;
    border: 1px solid rgb(188, 188, 193);
    border-radius: 4px 0 0 4px;
}

.SendFormBtn button {
    border: none;
    background: rgb(188, 188, 193);
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border-radius: 0 4px 4px 0;
    font-size: 1em;
    cursor: pointer;
>>>>>>> Stashed changes
}